In [1]:
# Importing Libraries
import pandas as pd

In [2]:
df = pd.read_csv('bank_term_deposit.csv',sep=';')

In [3]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30.0,unemployed,married,primary,no,1787.0,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33.0,services,married,secondary,no,4789.0,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,NaN,management,single,tertiary,no,135.0,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30.0,management,married,tertiary,no,1476.0,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59.0,blue-collar,married,secondary,no,NaN,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [4]:
df['job'].unique().tolist()

['unemployed',
 'services',
 'management',
 'blue-collar',
 'self-employed',
 'technician',
 'entrepreneur',
 'admin.',
 'student',
 'housemaid',
 'retired',
 'unknown']

In [5]:
df['marital'].unique().tolist()

['married', 'single', 'divorced']

In [6]:
df['education'].unique().tolist()

['primary', 'secondary', 'tertiary', 'unknown']

In [7]:
df['default'].unique().tolist()

['no', 'yes']

In [8]:
df.head(2)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30.0,unemployed,married,primary,no,1787.0,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33.0,services,married,secondary,no,4789.0,yes,yes,cellular,11,may,220,1,339,4,failure,no

In [9]:
df['housing'].unique().tolist()

['no', 'yes']

In [10]:
df['loan'].unique().tolist()

['no', 'yes']

In [11]:
df['contact'].unique().tolist()

['cellular', 'unknown', 'telephone']